<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
 <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-4 ml-3" id="left-side" >
                    <a href="/"><img class="col-12 mt-3" id="picofme" src="/images/picofme.png" alt="image of chris hong"></a>
                    <br>
                    <div class="justify-content-center mt-4">
                        <a href="/" class="col-12 name">CHRIS HONG</a>
                        <br>
                        <br>
                        <a class="col-12" href="/portfolio">PORTFOLIO</a>
                        <br>
                        <a class="col-12" href="/contact">CONTACT ME</a>
                        <br>
                        <br>
                        <h4 class="col-12">GET IN TOUCH</h4>
                        <div class="col-12 row ml-4" id="getintouch">
                            <a href="mailto:hongchris97@gmail.com"><img class="email ml-2" src="/images/Screen Shot 2022-05-31 at 11.25.18 AM.png"></a>
                            <a href="https://github.com/c1008h"><img class="github ml-2"src="/images/github-square-512.webp"></a>
                            <a href="https://www.linkedin.com/in/chris-hong97/"><img class="linkedin ml-2" src="/images/linkedinlogo.png"></a>
                        </div>
                    </div>
                </div>



            <div class="col-8" id="right-side">
                {{{ body }}}

            </div>
        </div>
    </div>
  </body>

</html>