<div class="contact" id="#right-side">
    <h2>CONTACT ME</h2>
    <p>Available for hire and open to collaberations</p>
    <br>
    <a href="https://drive.google.com/file/d/1BkEqmlLl-OoUIi_Py2uhWGP0iELC8NKg/view?usp=sharing"><p>This is an attachment of my resume.</p><a/>
    <br>
    <div class="row">
        <div class="col-12 ml-5">
            <h5 class="col-6"><img class="email" src="/images/Screen Shot 2022-05-31 at 11.25.18 AM.png">: <a href="mailto:hongchris97a@gmail.com">hongchris97@gmail.com</a></h5>
            <h5 class="col-6"><img class="github" src="/images/github-square-512.webp">: @<a href="https://github.com/c1008h">c1008h</a></h5>
        </div>
    </div>
</div>